<html>
	<body>
		<div th:fragment="adminMenu">
			<div class="ui secondary menu">
				<a id="menu-dashboard" href="/admin/" class="item">Dashboard</a>
				<a id="menu-pages" href="/admin/pages/" class="item">Store Pages</a>
				<a id="menu-users" href="/admin/users/" class="item">Users</a>
				<a id="menu-badges" href="/admin/badges/" class="item">Badges</a>
				<a id="menu-categories" href="/admin/categories/" class="item">Categories</a>
			</div>

			<div class="ui divider"></div>
		</div>
	</body>
</html>
