<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>Home</title>
	</head>
	<body>
		<div layout:fragment="content" class="ui container">
			<br />

			<p>Last Updated: <span class="ui yellow text">10:45am on Thursday 1st August 2019</span></p>

			<h2 class="ui dividing header">Terms of Use</h2>

			<p>
				The information distributed in conjunction with this website is offered to you on your acceptance of these Terms of Use, our Privacy Policy and
				other notices posted on this website. Your use of any content presented in any and all areas of the website indicates your acknowledgment and
				agreement to these Terms of Use, our Privacy Policy and other notices posted on this website. If you do not agree to be bound by and comply with
				all of the foregoing, you may not access or use our information or website services. We suggest you print a copy of each of these documents for
				your records.
			</p>

			<p>
				<span th:text="${siteName}"></span> shall have the right, at its sole discretion, to modify, add or remove any terms or conditions of these Terms of Use without notice
				or liability to you. Any changes to these Terms of Use shall be effectively immediately following the posting of such changes on this website.
				The most recent version of these Terms of Use may always be found at /terms_of_use/. You agree to review these Terms of Use from time to time
				and agree that any subsequent use by you of this website following changes to these Terms of Use shall constitute your acceptance of all such
				changes.
			</p>

			<h2 class="ui dividing header">General Website Use</h2>
			<p>
				You agree to follow all applicable laws and regulations when using this website. Furthermore, you agree that you shall not:
			</p>

			<div class="ui ordered list">
				<div class="item">
					Upload, post or otherwise transmit through or to this website any content that:
					<div class="ui list">
						<div class="item">
							is unlawful, abusive, threatening, harmful, obscene, lewd, offensive, defamatory or otherwise objectionable.
						</div>
						<div class="item">
							might infringe the intellectual property rights, privacy rights, rights of publicity, or other proprietary rights of others.
						</div>
						<div class="item">contains any viruses, trojan horses, time bombs, or any other harmful programs or elements.</div>
					</div>
				</div>

				<div class="item">
					Disrupt, place unreasonable burdens or excessive loads on, interfere with or attempt to gain unauthorized access to any portion of our
					website, its computer systems, servers or networks.
				</div>

				<div class="item">
					Provide false information about yourself to us, impersonate any other person, or otherwise attempt to mislead others about your identity or
					the origin of any content, message or other communication.
				</div>
				<div class="item">Transmit junk mail, chain letters, or other unsolicited bulk e-mail or duplicative messages.</div>
				<div class="item">
					Collect information about other visitors to our website without their consent or otherwise systematically extract data or data fields,
					including without limitation any financial data or e-mail addresses.
				</div>
				<div class="item">
					Sell access to or the use of this website, including any content contained on, downloaded or accessed from this website, except as
					specifically permitted in writing by <span th:text="${siteName}"></span>
				</div>
				<div class="item">
					Redistribute any content, including data, provided by us in any manner whatsoever including by means of printed publication, fax broadcast,
					web pages, e-mail, web newsgroups or forums, or any other electronic or paper-based service or method.
				</div>
				<div class="item">
					Intentionally alter the format in which site data is provided by us or otherwise circumvent our regular interfaces to such data.
				</div>
				<div class="item">
					Embed or import any site data provided by us into any information services (whether or not web-based), data files or application software,
					including without limitation episode index systems, except as except as specifically permitted in writing by <span th:text="${siteName}"></span>.
				</div>
			</div>

			<p>
				By uploading, posting or otherwise transmitting through or to our website any content, you grant to us, our successors and assigns, a
				non-exclusive, world-wide, royalty free, perpetual, non-revocable license to use or distribute such content in any manner otherwise than as
				stated in our Privacy Policy.
			</p>

			<p>
				You agree not to post any abusive, obscene, vulgar, slanderous, hateful, threatening, sexually-orientated or any other material that may violate
				any laws be it of your country, the country where "<span th:text="${siteName}"></span>" is hosted, USA, or International Law. Doing so may lead to you being
				immediately and permanently banned, with notification of your Internet Service Provider if deemed required by us. The IP address of all posts
				are recorded to aid in enforcing these conditions. You agree that "<span th:text="${siteName}"></span>" have the right to remove, edit, move or close any topic at any
				time should we see fit. As a user you agree to any information you have entered to being stored in a database. While this information will not
				be disclosed to any third party without your consent, "<span th:text="${siteName}"></span>" shall not be held responsible for any hacking attempt that may lead to the
				data being compromised
			</p>

			<p>
				By accessing "<span th:text="${siteName}"></span>", you agree to be legally bound by the following terms. If you do not agree to be legally bound by all of the
				following terms then please do not access and/or use "<span th:text="${siteName}"></span>". We may change these at any time and we’ll do our utmost in informing you,
				though it would be prudent to review this regularly yourself as your continued usage of "<span th:text="${siteName}"></span>" after changes mean you agree to be
				legally bound by these terms as they are updated and/or amended.
			</p>

			<h2 class="ui dividing header">Disclaimer and Limitation of Liability</h2>
			<p>
				The Services and all information, content, materials, products (including software), and other services included on or otherwise made available
				to you through the Services are provided by <span th:text="${siteName}"></span> on an "as is" and "as available" basis. <span th:text="${siteName}"></span> makes no representations or
				warranties of any kind, express or implied, as to the operation of the Services, or the information, content, materials, products (including
				software), or other services included on or otherwise made available to you through the Services. You expressly agree that your use of the
				Services is at your sole risk. To the full extent permissible by law, <span th:text="${siteName}"></span> disclaims all warranties, express or implied, including, but
				not limited to, implied warranties of merchantability and fitness for a particular purpose. <span th:text="${siteName}"></span> does not warrant that the Services,
				information, content, materials, products (including software) or other services included on or otherwise made available to you through the
				Services, <span th:text="${siteName}"></span> servers, or electronic communications sent from <span th:text="${siteName}"></span> are free of viruses or other harmful components.
			</p>

			<p>
				To the full extent permissible by law, <span th:text="${siteName}"></span> will not be liable for any loss of profits or any indirect, incidental, punitive, special or
				consequential damages arising out of or in connection with this these Terms. Further, to the full extent permissible by law, <span th:text="${siteName}"></span>’s
				aggregate liability arising out of or in connection with these Terms will not exceed the total amounts you have paid (if any) to <span th:text="${siteName}"></span>
				under this Agreement during the twelve (12) months immediately preceding the events giving rise to such liability. These limitations and
				exclusions regarding damages apply even if any remedy fails to provide adequate compensation.
			</p>

			<h2 class="ui dividing header">Indemnification</h2>
			<p>
				This section only applies to the extent permitted by applicable law. If you are prohibited by law from entering into the indemnification
				obligation below, then you assume, to the extent permitted by law, all liability for all claims, demands, actions, losses, liabilities, and
				expenses (including attorneys’ fees, costs and expert witnesses’ fees) that are the stated subject matter of the indemnification obligation
				below.
			</p>

			<p>
				You agree to defend, indemnify, and hold harmless <span th:text="${siteName}"></span>, its affiliates, and licensors, and their respective officers, directors,
				employees, contractors, agents, licensors, and suppliers from and against any claims, liabilities, damages, judgments, awards, losses, costs,
				expenses, or fees (including reasonable attorneys’ fees) resulting from your User Contributions or violation of these Terms.
			</p>
		</div>
	</body>
</html>
