<html>
	<body>
		<div th:fragment="delete-live-modal">
			<div class="ui small modal" id="deleteLivePageModal">
				<div class="header">Delete Draft</div>
				<div class="content">Are you sure you want to <b>permanently delete</b> this LIVE PAGE? This action cannot be reversed!</div>
				<div class="actions">
					<div class="ui cancel green button">Cancel</div>
					<div class="ui red ok button"><i class="trash alternate outline icon"></i>Permanently Delete LIVE PAGE</div>
				</div>
			</div>
		</div>
	</body>
</html>
