<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Template for HTML email with inline image</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p th:inline="text">
			Hi [[${username}]], You are receiving this email because you have specified that you have forgotten your password and have requested to change it.
		</p>

		<p>The password request came from IP Address: <span th:text="${ipAddressFrom}"></span></p>

		<p>
			To accept this request click the link below.
		</p>

		<p>
			<a
				th:href="'https://jmonkeystore.com/user/reset-password/' + ${validationCode}"
				th:text="'https://jmonkeystore.com/user/reset-password/' + ${validationCode}"
			></a>
		</p>

		<p>If you did not request a new password, you can cancel this request in the <a href="https://jmonkeystore.com/user/">User Control Panel.</a></p>

		<p>
			Regards, <br />
			The JmonkeyStore Team
		</p>
	</body>
</html>
